/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/* TODO: */
/* 1. Add function key layer to start debuggers, use both raise and lower keys */
/* 2. Add sticky key and momentary to hold tap on symbols layer */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
};

&sk {
    // don't release mods on other mods presses
    ignore-modifiers;
};

#define AL 0
#define SYM 1
#define NUM 2
#define FUNCS 3
#define SETTINGS 4

#define STAG(keycode) &dwm_ht LA(keycode) keycode // switch tag macro
#define hm_lc(keycode) &hm LCTL keycode
#define hm_rc(keycode) &hm RCTL keycode
#define hm_la(keycode) &hm LALT keycode
#define hm_ra(keycode) &hm RALT keycode

/ {
        behaviors {
            dwm_ht: dwm_hold_tap {
                compatible = "zmk,behavior-hold-tap";
                label = "DWM_HOLD_TAP";
                #binding-cells = <2>;
                tapping-term-ms = <220>;
                quick_tap_ms = <0>;
                flavor = "tap-preferred";
                bindings = <&kp>, <&kp>;
            };
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            };

        mlk: mod_layer_key {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_LAYER_KEY";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&sl>;
            };
        };

        combos {
            compatible = "zmk,combos";
            // all left thumb keys
            combo_settings {
                timeout-ms = <200>;
                key-positions = <36 37 38>;
                bindings = <&mo SETTINGS>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ------------------------------------------------------------------
// |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  |
// |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |
// |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  |
//             | RPT | RSE |BSPC |   | SPC | ENT  | RPT |
                        bindings = <
   &none &kp Q      &kp W &kp F      &kp P      &kp B   &kp J &kp L    &kp U     &kp Y   &kp SEMI      &none
   &none &kp A      &kp R hm_lc(S)   hm_la(T)   &kp G   &kp M hm_ra(N) hm_rc(E)  &kp I   &kp O         &none
   &none &mt LSHFT Z &kp X &kp C      &kp D      &kp V   &kp K &kp H    &kp COMMA &kp DOT &mt RSFT FSLH &none
                            &LSHFT &mlk SYM SYM &sk BSPC   &kp SPACE &mlk NUM NUM &ENTER
                        >;
                };
                sym_layer {
// -----------------------------------------------------------------
// |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  -  |  \  |
// | TAB |     |     |  "  |     |   | LEFT| DOWN| UP  |RIGHT|  '  |
// |  `  |     |     |     |     |   |     |     |     |     |  =  |
//             |     |     |     |   | RET |     |     |
                        bindings = <
   &none &kp EXCL  &kp AT &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp KP_MULTIPLY &kp MINUS &kp BSLH  &none
   &none &kp TAB   &trans &trans   &kp DQT  &trans    &kp LEFT  &kp DOWN &kp UP          &kp RIGHT &kp SQT   &none
   &none &kp GRAVE &trans &trans   &trans   &trans    &trans    &trans   &trans          &trans    &kp EQUAL &none
                          &trans   &trans   &trans    &kp RET &mo FUNCS &trans
                        >;
                };

                num_layer {
// -----------------------------------------------------------------
// |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |
// | ESC |  {  |  [  |  (  |     |   |     |  )  |  ]  |  }  |     |
// | CZ  | CX  | CC  |     | CV  |   |     |     |     |     |     |
//             |     |     |     |   |     |     |     |
                        bindings = <
   &none STAG(N1)  STAG(N2)  STAG(N3)    STAG(N4)    STAG(N5)    STAG(N6) STAG(N7)    STAG(N8)    STAG(N9)  STAG(N0) &none
   &none &kp ESC   &kp LBRC    hm_lc(LBKT) hm_la(LPRN) &trans    &trans hm_ra(RPRN) hm_rc(RBKT) &kp RBRC    &trans   &none
   &none &kp LC(Z) &kp LC(X) &kp LC(C)   &trans      &kp LC(V)   &trans   &trans      &trans      &trans    &trans   &none
                                         &trans &mo FUNCS &kp BSPC    &trans  &trans &trans
                        >;
                };

                fun_layer {
// -----------------------------------------------------------------
// |  F1 | F2  | F3  | F4  | F5  |   | F6  | F7  | F8  | F9  |F10  |
// |     |     |     |     | F11 |   | F12 |     |     |     |     |
// |     |     |     |     |     |   |     |     |     |     |     |
//             |     |     |     |   |     |     |     |
                        bindings = <
   &none &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &none
   &none &trans &trans &trans &trans &kp F11 &kp F12 &trans &trans &trans &trans &none
   &none &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &none
                    &trans &trans &trans    &trans  &trans &trans
                        >;
                };

                settings_layer {
// -----------------------------------------------------------------
// |     |     |     |     |     |   |     |     |     |     |     |
// |     |     |     |     |     |   | CTL | ALT | DEL |     |     |
// |     |     |     |     |     |   | BT3 | BT0 | BTP | BTN | BTC |
//             |     |     |     |   |     |     |     |
                        bindings = <
   &none &trans &trans &trans &trans &trans    &trans       &trans       &trans     &trans     &trans     &none
   &none &trans &trans &trans &trans &trans    &kp LCTL     &kp LALT     &kp DEL    &trans     &trans     &none
   &none &trans &trans &trans &trans &trans    &bt BT_SEL 3 &bt BT_SEL 0 &bt BT_PRV &bt BT_NXT &bt BT_CLR &none
                       &trans &trans &trans    &trans  &trans &trans
                        >;
                };
        };
};
